<div class="jumbotron">
   <h1>Bienvenue sur BlueEagle</h1>
   <br />
   <p>Nous avons pour objectif de redistribuer des ordinateurs de seconde main de façon responsable.</p>

   <p>BlueEagle s’engage à effacer les anciennes données de façon irréversible et à préparer les ordinateurs avec un système actuel.</p>
</div>

<p class="bg-warning"><span class="glyphicon glyphicon-hand-up" aria-hidden="conseils"></span> Pour commencer, cliquez sur un lien de la section Ressources.</p> 