<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @priorite_beneficiaire.description %>
</p>

<%= link_to 'Edit', edit_priorite_beneficiaire_path(@priorite_beneficiaire) %> |
<%= link_to 'Back', priorite_beneficiaires_path %>
