<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @etat_ordinateur.description %>
</p>

<%= link_to 'Edit', edit_etat_ordinateur_path(@etat_ordinateur) %> |
<%= link_to 'Back', etat_ordinateurs_path %>
