/* bleu: 2976B2 */

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
  }
  &:hover {
    color: #fff;
  }
}

.navbar-header a.navbar-brand {
	margin-top: 10px;
	font-size: 1.5em;
	margin-left: 15px!important;
	color: #fff!important;
}

.navbar-header a.navbar-brand_hover {
	color: #1E67CC!important;
}

p {
	padding: 15px!important;
}

p#notice {
	padding: 0!important;
}

h1 {
	color: #051B33!important;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.navbar-inverse {
	background-color: #062240!important;
}

.btn {
	border-radius: 0!important;
}

.btn-info {
	background-color: #062240!important;
	border: 1px solid #062240!important;
	float: right;
}

.btn-info:hover {
	background-color: #fff!important;
	color: #062240!important;
}


#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#links ul li {
	text-decoration: none;
	list-style: none;
	margin: 8px 0;
}

#links ul li a {
	background-color: #1E67CC;
	border: 1px solid #1E67CC;
	padding: 12px 11px 11px 11px;
	color: #fff;
 	display:block;
	border-radius: 0px!important;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.9em;
	font-weight: bold;
}

#links ul li a:hover {
	text-decoration: none;
	background-color: #fff;
	color: #1E67CC;

}

.navbar-top {
   border-radius: 0!important;
}